@import './bg.css';

html {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.blur-text {
  color: transparent !important;
  text-shadow: 0 0 8px #000;
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}

.mantine-Text-root {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

svg {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.mantine-Grid-col {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

@keyframes fade-in-show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

